body {
    background-color: #E2DFDF;
    color: #333232;  
    font-family: "Roboto Mono", "Arial", "sans-serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #9e9c9c; 
    display: grid;
    grid-template-columns: 150px auto;
    font-family: "Montserrat", "Arial", "sans-serif";
}
nav {
    background-color: #9e9c9c; 
    color: #332c2c;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    text-align: center;
    background-color: #9e9c9c; 
    color: #332c2c;
    padding: 35px;
}
nav a:hover{
    background-color: #E2DFDF; 
    color: #333232;
}

main {
   background-color: #E2DFDF;
    color: #333232;  
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 22px;
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-columns: 1fr 200px 1fr 200px 1fr 200px 1fr;
    grid-template-rows: 1fr 300px 1fr;
}
main section {
    text-align: center;
}
.home-grid .paragraph1 {
    text-align: left;
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.home-grid .brand{
    width: 200px;
    height: 200px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.home-grid .me{
    width: 200px;
    height: 200px;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.home-grid .pfp{
    width: 200px;
    height: 200px;
    grid-column: 6 / 7;
    grid-row: 3 / 4;
}
footer{
    background-color: #9e9c9c; 
    color: #332c2c;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    background-color: #9e9c9c; 
    color: #332c2c;
    text-decoration: none;
}
footer a:hover{
    background-color: #E2DFDF; 
    color: #333232;
}
footer p{
    text-decoration: none;
    padding: 5px 5px;
}
footer .social img   {
    padding-top: 15px;
}
.button-box {
    text-align: center;
}

