@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

header {
    background-color: #271801; 
    display: grid;
    grid-template-columns: 210px auto;
    font-family: "Roboto Mono", "Arial", "sans-serif";
    align-items: center;
    max-width: 1400px;
}
body {
    background-color: #E2DFDF;
    color: #333232;  
    font-family: "Montserrat", "Arial", "sans-serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
    max-width: 1400px;
}
.content {
    background-color: #271801;
    overflow: hidden;
}
nav {
    background-color: #271801; 
    color: #F7BF4F;
    display: flex;
}
nav a {
    text-decoration: none;
    text-align: center;
    background-color: #271801; 
    color: #F7BF4F;
    padding: 35px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: left;
}
nav a:hover{
    background-color: #E2DFDF; 
    color: #333232;
}
nav a.active {
    background-color: #271801; 
    color: #F7BF4F;
}

main section {
    text-align: center;
}

.home-grid {
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-columns: 1fr 200px 1fr 200px 1fr 200px 1fr;
    grid-template-rows: 1fr 300px 400px;
}

.home-grid a {
    text-decoration: none;
}
.home-grid .paragraph1 {
    text-align: left;
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    padding: 2% 2% 5%;
}
.home-grid .brand{
    max-width: 200px;
    max-height: 200px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.home-grid .me{
    max-width: 200px;
    max-height: 200px;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.home-grid .pfp{
    max-width: 200px;
    max-height: 200px;
    grid-column: 6 / 7;
    grid-row: 3 / 4;
}

.gallery-grid {
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr 100px 1fr 100px;
    grid-template-rows: 100px 1fr 100px 1fr 100px 1fr 100px;
}

.gallery-grid a {
    text-decoration: none;
}

.gallery-grid .paragraph3 {
    text-align: left;
    grid-column: 2 / 7;
    grid-row: 2 / 3;
}

.gallery-grid .pic1{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.gallery-grid .pic2{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.gallery-grid .pic3{
    grid-column: 6 / 7;
    grid-row: 4 / 5;
}

.gallery-grid .pic4{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.gallery-grid .pic5{
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

.gallery-grid .pic6{
    grid-column: 6 / 7;
    grid-row: 6 / 7;
}

.rpg-grid {
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-columns: 10px 400px 10px 1fr 10px;
    grid-template-rows: 100px 1fr 10px 1fr 10px 1fr 100px;
}

.rpg-grid a {
    text-decoration: none;
}

.rpg-grid .paragraph2 {
    text-align: left;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}

.rpg-grid .dice {
    max-width: 30%;
    max-height: 30%;
    min-width: 400px;
    min-height: 400px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;

}
.rpg-grid .dice-text {
    text-align: left;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
.rpg-grid .paper {
    max-width: 30%;
    max-height: 30%;
    min-width: 400px;
    min-height: 400px;
    grid-column: 2 / 3; 
    grid-row: 6 / 7;
}
.rpg-grid .paper-text {
    text-align: left;
    grid-column: 4 / 5; 
    grid-row: 6 / 7;
}


footer{
    background-color: #271801; 
    color: #F7BF4F;
    width: 100%;
    padding: 25px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    background-color: #271801; 
    color: #F7BF4F;
    text-decoration: none;
}
footer a:hover{
    background-color: #271801; 
    color: #F7BF4F;
}
footer p{
    text-decoration: none;
    padding: 5px 5px;
}
footer .social img   {
    padding-top: 15px;
}
.button-box {
    text-align: center;
}

